<!--ul>
	<li><a href="tours.php">All products</a></li>
	<li><a href="tours.php?product_type=1">Accommodation</a></li>
	<li><a href="tours.php?country=GB">Products in the United Kingdom</a></li>
	<li><a href="tours.php?country=GB&k=rafting">Rafting in the United Kingdom</a></li>
</ul-->