{{! Display details on a particular Tour/Hotel }}
{{> top }}

{{> nav }}
	
	{{! If there was a problem loading the Tour/Hotel from the API }}
	{{# notok }}
		<h1>Sorry there has been a problem</h1>
	{{/ notok }}
	
	{{! If the Tour/Hotel was loaded from the API ok }}
	{{# isok }}
		{{# tour }}
			<h1>{{ tour_name }}</h1>
			<p>{{ summary }}</p>
		{{/ tour }}
	{{/ isok }}
	
{{> bottom }}