{{> top }}

{{> nav }}
	
	{{# notok }}
		<h1>Sorry there has been a problem</h1>
		
	{{/ notok }}
	
	{{# isok }}
		{{# tour }}
			<h1>{{ tour_name }}</h1>
			<p>{{ summary }}</p>
		{{/ tour }}
	{{/ isok }}
	
{{> bottom }}